<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <h1>The Foodtech Startup</h1>
  </div>

  <div class="mySlides fade" id="img-2">
    <h1>The Foodtech Startup</h1>
  </div>

  <div class="mySlides fade" id="img-3">
    <h1>The Foodtech Startup</h1>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<%= javascript_include_tag 'home/carousel' %>