<div class="tab-container">
  <div class="tab-header">
    <ul class='tabs'>
      <li>
        <a href='#tab1'>Menu</a>
      </li>
      <li>
        <a href='#tab2'>Présentation</a>
      </li>
      <li>
        <a href='#tab3'>Et Nous?</a>
      </li>
    </ul>
  </div>
    <div id='tab1' class='content active'>
      <br>
      <br>
      <p>Nous proposons une variété de salades et pizzas</p>
    </div>
    <div id='tab2' class='content'>
      <br>
      <br>
      <p>Plateforme de livraison en ligne, notre application vous permet de recevoir chez vous, en mois de 30min, les meilleurs plats de Paris.</p>
    </div>
    <div id='tab3' class='content'>
      <br>
      <br>
      <p>Nous assurons des livraisons à travers tout Paris.</p>
      <p>Nos bureaux se situent à la BNF !</p>
    </div>
</div>

<%= javascript_include_tag 'home/tab' %>