<section class="hero invisible">
  <h1><span>Foodtech Startup</span></h1>
  <h2>Manger redevient un plaisir</h2>
</section>

<%= render 'carousel' %>

<section class="section">
  <div class="wrapper">
    <%= render 'tab' %>
  </div>
</section>
<div class="footer">
  <p>&copy; Foodtech startup landing page</p>
</div>